.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: $color-secondary;
	height: 4rem;
	width: 100%;
	position: fixed;

	&-logo {
		color: $color-text;
		font-size: 2.3rem;
		font-family: $font-secundary;
		letter-spacing: 2px;
	}

	&-list {
		display: flex;
		gap: 2rem;
		list-style: none;
	}

	&-item {
		a {
			text-decoration: none;
			color: $color-text;
			border-bottom: solid 2px transparent;
			transition: 0.3s ease;
		}

		a:hover {
			border-bottom: solid 2px $color-btn;
		}
	}
}
