.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: $color-text;
	height: 4rem;
	width: 100%;
	position: fixed;
	z-index: 999;

	&-logo {
		color: $color-primary;
		font-size: 2.3rem;
		font-family: $font-secundary;
		letter-spacing: 2px;
	}

	&-list {
		display: flex;
		gap: 2rem;
		list-style: none;
	}

	&-item {
		a {
			text-decoration: none;
			color: $color-primary;
			border-bottom: solid 2px transparent;
			transition: 0.3s ease;
		}

		a:hover {
			border-bottom: solid 2px $color-btn;
		}
	}
}

@media screen and (max-width: 780px) {
	.nav-list {
		position: absolute;
		top: 60px;
		left: 0px;
		background-color: $color-text;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 2rem;
		transform: translateX(-100%);
		transition: 0.3s ease all;
		z-index: 999;
		a {
			margin: 1rem;
		}
		min-height: 100vh;
	}

	.nav-list-open {
		transform: translateX(0);
	}
}
