* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  text-wrap: balance;
  min-height: 100dvh;
  min-width: 100%;
  font-family: $font-primary;
  background-color: $color-primary;
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-wrap: pretty;
}

p {
  scrollbar-width: thin;
}

p::-webkit-scrollbar {
  width: 10px;
}

p::-webkit-scrollbar-thumb {
  border-radius: 2rem;
}

p::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 2rem;
}

label {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

a {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5rem;
}
