@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Titan+One&display=swap");

//? Fuentes
$font-primary: system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-secundary: "Dancing Script", cursive, system-ui;

$color-text: #ffffff;
$color-primary: #060606;
$color-secondary: #131313;
$color-aux: #949cb0;
$color-btn: #687eff;
