@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Titan+One&display=swap");

//? Fuentes
$font-primary: system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-secundary: "Dancing Script", cursive, system-ui;

$color-primary: #eeeeee;
$color-secondary: #393e46;
$color-text: #222831;
$color-btn: #2ba8fb;
$color-btn-hover: #6fc5ff;
